<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Recipe Book{% endblock %}</title>
    {% block styles %}{% endblock %}
    <h1>Recipe Book</h1> 
</head>
<body>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'ledger:detail' recipe.name %}">{{ recipe.name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>