{% extends "base.html" %}

{% block title %}{{ recipe.name }} - Recipe Book{% endblock %}

{% block page_title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <p>By: {{ recipe.author.profile.name }}</p>
    <p>Created on: {{ recipe.created_on|date:"F j, Y" }}</p>

    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
        {% empty %}
            <li>No ingredients added.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'ledger:list' %}">Back to Recipes</a>
{% endblock %}
